In [1]:
# sqlalchemy helps us interact with sql database from within a pandas method

In [2]:
from sqlalchemy import create_engine
import pandas

In [6]:
# read txt file
dtxt = pandas.read_csv('./src/my_employees.txt')

# read csv file
dcsv = pandas.read_csv('./src/my_employees.csv')

# read json file
djson = pandas.read_json('./src/my_employees.json')

# read xlsx file
dxlsx = pandas.read_excel('./src/my_employees.xlsx',engine='openpyxl', sheet_name = 0)

In [27]:
# loading existing SQL table as a dataframe
# creating an SQL Alchemy engine

# engine = create_engine('<database type>+<module to connect to the database>://<username used to connect to the dbase>:<password used to connect to the dbase>@<host:port>/<database name>')
engine = create_engine('postgresql+psycopg2://postgres:learnAutomateDBaseServer@127.0.0.1:5432/staff')

# dsql = pandas.read_sql_table(<table name>, engine, schema = <schema name>)
dsql = pandas.read_sql_table('employees', engine, schema = 'mystaff')

In [29]:
# since the header name from incoming data sources (txt, csv, xlsx, json) have different case sensitive with the exisiting postgres dbase,we need to adjust the header name
dsql.rename({
    'id':'ID',
    'first_name': 'FirstName',
    'last_name': 'LastName',
    'department': 'Department',
    'phone': 'Phone',
    'address': 'Address',
    'salary': 'Salary'
    },
    axis = 'columns',
    inplace = True
)

In [35]:
# writing the data to a new table in postgresql database
# to_sql is a sql method from within the pandas module

# <data>.to_sql(<new table name>, engine, shcema = <shcema name>, index = False)
dtxt.to_sql('allstaff', engine, schema = 'mystaff', index = False)
djson.to_sql('allstaff', engine, schema = 'mystaff', index = False, if_exists = 'append')
dxlsx.to_sql('allstaff', engine, schema = 'mystaff', index = False, if_exists = 'append')
dcsv.to_sql('allstaff', engine, schema = 'mystaff', index = False, if_exists = 'append')

In [81]:
# read SQL query to dataframe using the read_sql_query() function

query_all = pandas.read_sql_query('select * from mystaff.allstaff', engine)

query_count = pandas.read_sql_query('select count(*) from mystaff.allstaff', engine)
total_employees = query_count.iloc[0][0]

query_dept = pandas.read_sql_query('select count(distinct("Department")) from mystaff.allstaff', engine)
total_depts = query_dept.iloc[0][0]

query_epd = pandas.read_sql_query('select "Department", count("LastName") from mystaff.allstaff group by 1', engine)
query_epd.set_index("Department", inplace = True)

log_emp = query_epd.loc['Logistics', 'count']
mk_emp = query_epd.loc['Marketing', 'count']
sls_emp = query_epd.loc['Sales', 'count']
it_emp = query_epd.loc['IT', 'count']

sal_high = query_all['Salary'].max()
sal_low = query_all['Salary'].min()
sal_avg = query_all['Salary'].mean()

In [84]:
#Joining the above information in a nice format - HTML

summary = [
    ['Total number of employees', int(total_employees)],
    ["Employees in Logistics", int(log_emp)],
    ["Employees in Marketing", int(mk_emp)],
    ["Employees in Sales", int(sls_emp)],
    ["Employees in IT", int(it_emp)],
    ["Highest salary", int(sal_high)],
    ["Lowest salary", int(sal_low)],
    ["Salary average", int(sal_avg)]
]

summary_html = pandas.DataFrame(summary, columns = ['Stats', 'Value'])

In [ ]:
# writing the summary report to HTML format using to_html() function
# reference: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_html.html
with open('./summary.html', 'w') as f:
    summary_html.to_html(f, index = False, justify = 'center')